.Card-Section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  transition: background-color 0.5s ease;
}

.Card-Section-Dark {
  background-color: #181A1E;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  transition: background-color 0.5s ease;
}

.Card-Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 6px solid #039be5;
  box-shadow: 0px 4px 8px rgba(60, 45, 111, 0.1),
    0px 1px 3px rgba(60, 45, 111, 0.15);
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.Card-Container:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 4px 16px rgba(60, 45, 111, 0.1),
    0px 1px 3px rgba(60, 45, 111, 0.15);
}

.Card-Container-Dark {
  background-color: #1c1f24;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 6px solid #039be5;
  box-shadow: 0px 4px 8px rgba(60, 45, 111, 0.1),
    0px 1px 3px rgba(60, 45, 111, 0.15);
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.Card-Container-Dark:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 4px 16px rgba(60, 45, 111, 0.1),
    0px 1px 3px rgba(60, 45, 111, 0.15);
}

.Paragraph {
  font-size: 20px;
  margin: 24px 0px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
}

.Paragraph-Dark {
  color: #fff;
  font-size: 20px;
  margin: 24px 0px;
  margin-bottom: 30px;
  text-align: center;
}

.Span {
  color: #111;
}

.Span-Dark {
  color: #fff;
}

.Button {
  text-align: center;
  display: flex;
  letter-spacing: 0.026em;
  cursor: pointer;
  font-size: 0.875rem;
  text-transform: none;
  background-color: transparent;
  color: #000000;
  outline: none;
  padding: 8px 1.6em;
  text-decoration: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-image: initial;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
}

.Button-Dark {
  text-align: center;
  display: flex;
  letter-spacing: 0.026em;
  cursor: pointer;
  font-size: 0.875rem;
  text-transform: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  padding: 8px 1.6em;
  text-decoration: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
}

.Button:hover {
  border-color: #4c9ac0;
}
.Button-Dark:hover {
  border-color: #4c9ac0;
}

.Button-Dark:hover svg {
  fill: #4c9ac0;
}

.Button-Dark svg {
  fill: #fff;
}

.Input {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.026em;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
  background-color: transparent;
  color: #000000;
  outline: none;
  padding: 10px 2em;
  text-decoration: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-image: initial;
}

.Input-Dark {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.026em;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  padding: 10px 2em;
  text-decoration: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-image: initial;
}

.Input:focus {
  border-color: #4c9ac0;
}

.Input-Dark:focus {
  border-color: #4c9ac0;
}

.Label {
  color: #000000;
  padding-bottom: 20px;
}

.Label-Dark {
  color: #fff;
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  .Card-Container {
    flex: 1;
  }

  .Card-Container-Dark {
    flex: 1;
  }

  .Paragraph,.Paragraph-Dark{
    font-size: 1rem;
    margin:20px;
  }
}
